<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/vendor/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/site.min.css"/>
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">

    @RenderSection("head", false)
</head>
    <body @((RenderContext.Context.Request.Path == "/") ? string.Empty : "class='inner-page'")>
        <div id="header">
            <a href="/" title="Home">
                <h1>
                    <img src="/Content/images/simple-logo.svg"/>
                    <span>
                        Mindosa Planning
                    </span>
                </h1>
            </a>
        </div>
        <div id="content-panel">
            @RenderBody()
        
            <div id="footer" class="centered">
                <a href="https://github.com/jpbertles/Mindosa.PlanningPoker" title="GitHub Repo"><i class="fa fa-fw">&#xf09b;</i></a>
            </div>
        </div>
    
        <script src="/Scripts/jquery-2.1.0.min.js"></script>
        <script src="/Scripts/jquery.cookie.js"></script>

        @RenderSection("scripts", false)
    </body>
</html>
